[Unit]
Description=Shadowsocks Client
After=network.target

[Service]
User=root
ExecStart=/bin/bash -c "/usr/local/bin/python3 /usr/local/bin/sslocal -c /etc/shadowsocks.json >/var/log/shadowsocks-client.log 2>&1"
Restart=always

[Install]
WantedBy=multi-user.target